.fifth {
  position: relative;
  width: 100%;
  height: 100%;
  background: $bg-colour;

  .coin-alot {
    position: absolute;
    top: 20%;
    right: 3%;
    transform: translate(-3%, -20%);
    z-index: 99;

    // width: 264px;
    // height: 277px;

    width: clamp(212px, 20.625vw, 396px);
    height: clamp(218px, 21.25vw, 408px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .container-text {
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translate(-3%, -20%);
    color: $white;
    font-weight: 400;
    // font-size: 32px;
    // line-height: 32px;

    font-size: clamp(26px, 2.5vw, 48px);
    line-height: clamp(26px, 2.5vw, 48px);
  }

  .container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    .poker-card {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      cursor: grab;

      // width: 168px;
      // height: 232px;

      width: clamp(134px, 13.125vw, 252px);
      height: clamp(186px, 18.125vw, 348px);

      &:hover {
        transform: scale(1.1);
        transition: transform 500ms ease-in-out;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .content-text {
    position: absolute;
    bottom: 30%;
    left: 2%;
    transform: translate(-2%, -30%);
    color: $white;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;

    font-size: clamp(26px, 2.5vw, 48px);
    line-height: clamp(32px, 3.125vw, 60px);
  }

  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    border: 4px solid $white;
    border-radius: 30px;
    padding: 13px 26px;
    gap: 0.75rem;

    // width: 792px;
    // height: 289px;
    width: clamp(634px, 61.875vw, 1188px);
    height: clamp(230px, 22.5vw, 432px);

    .poker-card-cover {
      display: flex;
      border: 2px dashed $white;
      border-radius: 15px;
      height: 100%;
      width: 25%;
      cursor: grab;

      img {
        border-radius: 15px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .total-text {
    position: absolute;
    bottom: 20%;
    right: 5%;
    transform: translate(-5%, -20%);
    color: $white;
    font-weight: 600;
    // font-size: 40px;
    // line-height: 48px;

    font-size: clamp(32px, 3.125vw, 60px);
    line-height: clamp(38px, 3.75vw, 72px);
  }

  .btn {
    position: absolute;
    bottom: 48px;
    right: 20px;
    width: 183px;
    height: 88px;
    font-size: clamp(20px, 1.2vw, 34px);
  }
}

@media screen and (max-width: 1024px) {
  .fifth {
    .coin-alot {
      top: 40%;
      right: 3%;
      transform: translate(-3%, -40%);
      width: clamp(158px, 20.625vw, 212px);
      height: clamp(164px, 21.25vw, 218px);
    }

    .container-text {
      top: 35%;
      left: 3%;
      transform: translate(-3%, -35%);

      font-size: clamp(20px, 2.5vw, 48px);
      line-height: clamp(20px, 2.5vw, 48px);
    }

    .container {
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);

      .poker-card {
        width: clamp(100px, 13.125vw, 252px);
        height: clamp(140px, 18.125vw, 348px);
      }
    }

    .content-text {
      position: absolute;
      bottom: 40%;
      left: 2%;
      transform: translate(-2%, -40%);
      font-size: clamp(20px, 2.5vw, 26px);
      line-height: clamp(24px, 3.125vw, 32px);
    }

    .content {
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      border-radius: 20px;
      width: clamp(476px, 61.875vw, 634px);
      height: clamp(172px, 22.5vw, 230px);
    }

    .total-text {
      position: absolute;
      bottom: 35%;
      right: 5%;
      transform: translate(-5%, -35%);
      font-size: clamp(24px, 3.125vw, 32px);
      line-height: clamp(28px, 3.75vw, 38px);
    }

    .btn {
      position: absolute;
      bottom: 25%;
      right: 3%;
      transform: translate(-3%, -25%);
    }
  }
}

@media screen and (max-width: 768px) {
  .fifth {
    .btn {
      width: clamp(120px, 14.375vw, 200px);
      height: clamp(60px, 6.875vw, 70px);
    }
  }
}

@media screen and (max-width: 500px) {
  .fifth {
    .coin-alot {
      width: clamp(78px, 20.625vw, 212px);
      height: clamp(80px, 21.25vw, 218px);
    }

    .container-text {
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .container {
      top: 35%;
      left: 50%;
      transform: translate(-50%, -35%);
      gap: 0.25rem;

      .poker-card {
        width: clamp(50px, 13.125vw, 134px);
        height: clamp(68px, 18.125vw, 186px);
      }
    }

    .content-text {
      position: absolute;
      bottom: 35%;
      left: 50%;
      transform: translate(-50%, -35%);

      font-size: 1rem;
      line-height: 1.5rem;
    }

    .content {
      bottom: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      border: 2px solid $white;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      gap: 0.25rem;

      width: clamp(232px, 61.875vw, 634px);
      height: clamp(84px, 22.5vw, 230px);

      .poker-card-cover {
        border: 1px dashed $white;
        border-radius: 10px;

        img {
          border-radius: 10px;
        }
      }
    }

    .total-text {
      bottom: 45%;
      right: 5%;
      transform: translate(-5%, -45%);
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .btn {
      position: absolute;
      bottom: 35%;
      right: 3%;
      transform: translate(-3%, -35%);
      width: 120px;
      height: 50px;
      padding: 1rem;
    }
  }
}
