.seventh {
  position: relative;
  width: 100%;
  height: 100%;
  background: $bg-colour;
  padding: 50px 40px;

  .chat {
    display: flex;

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 24px;
      margin-left: 95px;

      .chat-message {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding: 16px 24px;
      }
    }

    &:nth-child(3) {
      .chat-message {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .left-avatar {
      position: relative;
      width: max-content;
      height: fit-content;
      margin-right: 2rem;

      img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        object-position: center center;
      }

      span {
        box-sizing: border-box;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5rem;
        background-color: $black;
        border-radius: 4px;
        color: $white;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .chat-message {
      position: relative;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      background-color: $white;
      font-weight: 400;
      font-size: 1rem;
      line-height: 40px;
      width: 100%;

      &:not(:first-child):before {
        content: "";
        position: absolute;
        top: 10px;
        left: -10px;
        background-color: $transparent;

        border-color: $transparent;
        border-style: solid;
        border-width: 0.5em 0.31em 0;
        width: 0;
        height: 0;
        line-height: 0;

        border-width: 0.75rem 0.75rem 0.75rem 0;
        border-top-color: transparent;
        border-right-color: $white;
      }

      .highlight {
        color: $dark-red;
      }

      img {
        width: 190px;
        height: 30px;
        margin-left: 24px;
      }
    }
  }

  .container {
    margin: 100px 40px 0;
    width: 890px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .small-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 310px;
    height: 80px;
    border-radius: 8px;

    &-text {
      color: $white;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
    }

    &.red {
      position: absolute;
      top: 40%;
      left: 18%;
      transform: translate(-40%, -18%);
      background: #9c0700;
    }

    &.yellow {
      position: absolute;
      top: 30%;
      right: 20%;
      transform: translate(-20%, -30%);
      background-color: #ff7e06;
      transform: scale(0.9);
      cursor: grab;

      &:hover {
        transform: scale(1);
        transition: transform 500ms ease-in-out;
      }
    }

    &.green {
      position: absolute;
      top: 30%;
      right: 2%;
      transform: translate(-2%, -30%);
      background-color: #009a50;
      transform: scale(0.9);

      &:hover {
        cursor: grab;
        transform: scale(1);
        transition: transform 500ms ease-in-out;
      }
    }
  }

  .small-box-dash {
    border: 2px dashed #000000;
    width: 310px;
    height: 80px;
    border-radius: 0.5rem;

    .small-box {
      transform: scale(1);

      &:hover {
        transform: scale(1);
      }
    }

    &.border-yellow {
      position: absolute;
      left: 32%;
      bottom: 28%;
      transform: translate(-32%, -28%);
      border-color: #ff7e06;
    }

    &.border-green {
      position: absolute;
      left: 58%;
      bottom: 28%;
      transform: translate(-58%, -28%);
      border-color: #009a50;
    }
  }

  .btn {
    position: absolute;
    bottom: 48px;
    right: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .seventh {
    position: relative;
    padding: 20px;
    overflow: scroll;

    .chat {
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 1rem;
        margin-left: 65px;

        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: 0.75rem;
        }
      }

      &:nth-child(3) {
        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: 0.75rem;
        }
      }

      .left-avatar {
        margin-right: 1rem;

        img {
          width: 48px;
          height: 48px;
        }

        span {
          padding: 0.25rem;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .chat-message {
        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;

        img {
          width: 100px;
          height: 30px;
          margin-left: auto;
          margin-right: 1.5rem;
        }
      }
    }

    .container {
      margin: 80px 0 0;
      width: 712px;
      height: 320px;
    }

    .small-box {
      padding: 1rem;
      gap: 10px;
      // width: 248px;
      // height: 64px;
      // width: 19.375vw;
      width: 24vw;
      height: 5vw;

      &.red {
        top: 20%;
        left: 15%;
        transform: translate(-20%, -20%);
      }

      &.yellow {
        position: absolute;
        top: 20%;
        right: 34%;
        transform: translate(-20%, -20%);
        transform: scale(1);
      }

      &.green {
        position: absolute;
        width: 30vw;
        top: 20%;
        right: 2%;
        transform: translate(-2%, -20%);
        transform: scale(1);
      }
    }

    .small-box-dash {
      // width: 310px;
      // height: 80px;

      width: 248px;
      height: 64px;

      &.border-yellow {
        position: absolute;
        top: 34%;
        left: 36%;
        bottom: 0;
        transform: translate(-36%, -34%);
      }

      &.border-green {
        position: absolute;
        top: 34%;
        left: 74%;
        bottom: 0;
        transform: translate(-74%, -34%);
      }
    }

    .btn {
      position: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 20px 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .seventh {
    .chat {
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 1rem;
        margin-left: 65px;

        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: 0.75rem;
        }
      }

      &:nth-child(3) {
        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: 0.75rem;
        }
      }

      .left-avatar {
        margin-right: 1rem;

        img {
          width: 48px;
          height: 48px;
        }

        span {
          padding: 0.25rem;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .chat-message {
        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;

        img {
          width: 100px;
          height: 30px;
          margin-left: auto;
          margin-right: 1.5rem;
        }
      }
    }

    .container {
      margin: 80px 0 0;
      width: 100%;
      height: auto;
    }

    .small-box {
      padding: 0.5rem;
      gap: 10px;
      width: 30vw;
      height: 8vw;

      &.red {
        top: 28%;
        left: 20%;
        transform: translate(-20%, -28%);
      }

      &.yellow {
        position: absolute;
        top: 20%;
        right: 34%;
        transform: translate(-20%, -20%);
        transform: scale(1);
      }

      &.green {
        position: absolute;
        width: 30vw;
        top: 20%;
        right: 2%;
        transform: translate(-2%, -20%);
        transform: scale(1);
      }
    }

    .small-box-dash {
      width: 180px;
      height: 60px;

      &.border-yellow {
        position: absolute;
        top: 48%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -48%);
      }

      &.border-green {
        position: absolute;
        top: 48%;
        left: 86%;
        bottom: 0;
        transform: translate(-86%, -48%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .seventh {
    .chat {
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0.5rem;
        margin-left: 65px;

        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 18px;
          padding: 0.5rem;
        }
      }

      &:nth-child(3) {
        .chat-message {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 18px;
          padding: 0.5rem;
        }
      }

      .chat-message {
        padding: 0.5rem;
        font-size: 14px;
        line-height: 18px;
      }
    }

    .container {
      margin: 80px 0 0;
      width: 100%;
      height: auto;
    }

    .small-box {
      padding: 0.5rem;
      width: 20vw;
      height: auto;

      &-text {
        font-size: 12px;
        line-height: 12px;
      }

      &.red {
        top: 28%;
        left: 20%;
        transform: translate(-20%, -28%);
      }

      &.yellow {
        position: absolute;
        top: 20%;
        right: 34%;
        transform: translate(-20%, -20%);
        transform: scale(1);
      }

      &.green {
        position: absolute;
        width: 30vw;
        top: 20%;
        right: 2%;
        transform: translate(-2%, -20%);
        transform: scale(1);
      }
    }

    .small-box-dash {
      width: 100px;
      height: 50px;

      &.border-yellow {
        position: absolute;
        top: 38%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -48%);
      }

      &.border-green {
        position: absolute;
        top: 38%;
        left: 86%;
        bottom: 0;
        transform: translate(-86%, -48%);
      }
    }
  }
}
